.animalCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 350px;
    padding: 20px;
    background-color: darkolivegreen;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    margin-bottom: 10px;
    margin-right: 10px;
}

.animalCard:hover {
    transform: scale(1.1);
    filter: brightness(80%);
}


.animalCard h2 {
    margin: 0 10px 20px 0;
    font-size: 25px;
    font-weight: bold;
}

.animalCard p {
    margin: 15px 0 10px 0;
    font-size: 18px;
    text-align: center;
    color: lightgray;
}

.animalPic {
    width: 150px;
    height: 200px;
    margin-right: 10px;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.button {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    color: black;
    border: none;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
    margin: 0 10px 0 10px;
    cursor: pointer;
}

.button:hover {
    background-color: #333333;
    color: white;
}

