.App {
  text-align: center;
}

.App-header {
  background-color: darkolivegreen;
  min-height: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


#logo {
  display: block;
  float: left;
  padding: 10px;
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

li {
  margin: 0 50px;
}
